In [20]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import kurtosis
from scipy.stats import skew

In [6]:
data=pd.read_csv("downloads/data.csv")
data

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570
...,...,...,...,...,...,...,...,...,...,...,...
29518,f1_fuel_2018_12_12_0_13,12,2018,neil simpson ct #1,gas,mcf,18799.0,1.059,4.78,4.78,9.030
29519,f1_fuel_2018_12_12_1_1,12,2018,cheyenne prairie 58%,gas,mcf,806730.0,1.050,3.65,3.65,6.950
29520,f1_fuel_2018_12_12_1_10,12,2018,lange ct facility,gas,mcf,104554.0,1.060,4.77,4.77,8.990
29521,f1_fuel_2018_12_12_1_13,12,2018,wygen 3 bhp 52%,coal,ton,315945.0,16.108,3.06,14.76,1.110
29522,f1_fuel_2018_12_12_1_14,12,2018,wygen 3 bhp 52%,gas,mcf,17853.0,1.059,0.00,0.00,11.680

In [13]:
data["fuel_mmbtu_per_unit"].std()

10.600220307806886

In [16]:
data["fuel_mmbtu_per_unit"].quantile(q=0.75)

17.006

In [21]:
skew(data["fuel_qty_burned"],bias=False)

15.8514954691095

In [22]:
kurtosis(data["fuel_qty_burned"],bias=False)

651.3694501337731

In [29]:
data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [34]:
corr= np.corrcoef(data["fuel_qty_burned"],data["fuel_cost_per_unit_burned"])
corr

array([[ 1.        , -0.01853542],
       [-0.01853542,  1.        ]])

In [37]:
data["report_year"]==1994

0         True
1         True
2         True
3         True
4         True
         ...
29518    False
29519    False
29520    False
29521    False
29522    False
Name: report_year, Length: 29523, dtype: bool

In [39]:
data["fuel_cost_per_unit_burned"].value_counts()

0.000      288
3.050       20
2.210       18
3.560       18
3.380       18
          ...
130.037      1
10.072       1
36.692       1
31.861       1
4.937        1
Name: fuel_cost_per_unit_burned, Length: 19416, dtype: int64